<div class ="container pt-3" >
<div class="cards">
    <% @dresses.each do |dress|%>
      <div class="cardos">
       <%= cl_image_tag dress.photo.key, height: 300, width: 300, crop: :fill %>
        <div class="card-content">
          <div class="card-text">
            <h3 class="choose-button"><%= link_to "#{dress.category}", dress_path(dress), class: "no-decoration" %></h3>
            <p class="price">price: <%= dress.price %></p>
            <p class="price">size: <%= dress.size %></p>
          </div>
        </div>
        <p><%= link_to "Book Now", dress_path(dress), class: "basic-link" %></p>
      </div>
    <%end%>
</div>
