<div id="grad1">
<h1><%= @dress.category %></h1>
<%= cl_image_tag @dress.photo.key, height: 300, width: 400, crop: :fill %>
<p><%= @dress.price%></p>
<p><%= @dress.size %></p>
<p><%= @dress.location %></p>

<h2>Description</h2>
<p><%= @dress.description %></p>
<%= link_to "Back to list", dresses_path %>
<%= link_to "Delete", dress_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>

