<div id="grad1">
<h1><%= @dress.category %></h1>
<img src="https://img01.ztat.net/article/spp-media-p1/3f3d3827eaed3b4c86cbe0db62074c93/074ecf15bd764e39a8b4cb716db376d4.jpg?imwidth=1800&filter=packshot" />
<p><%= @dress.price%></p>
<p><%= @dress.size %></p>
<p><%= @dress.location %></p>

<h2>Description</h2>
<p><%= @dress.description %></p>
<%= link_to "Back to list", dresses_path %>
