<div id="grad1">
<h1><%= @dress.category %></h1>
<%= cl_image_tag @dress.photo.key, height: 300, width: 400, crop: :fill %>
<p><%= @dress.price%></p>
<p><%= @dress.size %></p>
<p><%= @dress.location %></p>

<h2>Description</h2>
<p><%= @dress.description %></p>
<%= link_to "Back to list", dresses_path %>
<%= link_to "Delete", dress_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>

<div class="circletop">

    </div>
    <div class="product-card">
      <h1><%= @dress.category %></h1>
      <p><%= @dress.description %></p>
      <div class="product-pic"></div>
      <div class="product-colors">
        <span class="blue active" data-color="#7ed6df" data-pic="url(1.png)"></span>
        <span class="green" data-color="#badc58" data-pic="url(2.png)"></span>
        <span class="yellow" data-color="#f9ca24" data-pic="url(3.png)"></span>
        <span class="rose" data-color="#ff7979" data-pic="url(4.png)"></span>
      </div>
      <div class="product-info">
        <div class="product-price"><%= @dress.price%></div>
        <div class="product-price"><%= @dress.size %></div>
        <div class="product-price"><%= @dress.location %></div>
        <a href="#" class="product-button">Add to Cart</a>
      </div>
    </div>
    <div class="circlebottom">

    </div>

    <script>
      $(".product-colors span").click(function(){
        $(".product-colors span").removeClass("active");
        $(this).addClass("active");
        $("body").css("background",$(this).attr("data-color"));
        $(".product-price").css("color",$(this).attr("data-color"));
        $(".product-button").css("color",$(this).attr("data-color"));
        $(".product-pic").css("background-image",$(this).attr("data-pic"));
      });
    </script>
