
<html>
<body>
  <main>
    <div class="card">
      <div class="card__title">
        <div class="icon">
        <%= link_to  dresses_path do %>
         <i class="fa fa-arrow-left"></i>
         <% end %>
        </div>
        <h3>New to Charivari</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
            <h1><%= @dress.category %></h1>
            <p class="sub"> Size: <%= @dress.size %></p>
            <p class="price"><%= @dress.price %> €</p>
          </div>
          <div class="image">
            <% if @dress.photo.attached? %>
    <%= cl_image_tag @dress.photo.key, height: 300, width: 200, crop: :fill %>
    <% else %>
    <%= image_tag "Dirndl_1.webp", height: 300, width: 200, crop: :fill%>
    <% end %>

          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero voluptatem nam pariatur voluptate perferendis, asperiores aspernatur! Porro similique consequatur, nobis soluta minima, quasi laboriosam hic cupiditate perferendis esse numquam magni.</p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
            <span>(User has 64 reviews)</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Sold by</p>
          <h3>Andrew Palmer</h3>
        </div>
        <div class="action">
            <button type="button">Add to cart</button>
        </div>
      </div>
    </div>
  </main>
</body>

</html>

